<div class="content-block">
  <div class="content-left-anchor">
    <div class="aside">
      {% for category in include.post.categories %}
      <div class="tab post-category-{{ category }}">
        <div class="inner">
          <b>{{ category }}</b>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="post-header">
    <span class="post-title">
      <h2>
        <a class="post-link" href="{{ include.post.url | relative_url }}">
          {{ include.post.title | escape }}
        </a>
      </h2>
    </span>
    <span class="post-meta">{{ include.post.date | date: "%-d %b %Y" }}</span>
  </div>
  {{ include.post.content }}
</div>